<ul class="contactos">
    <li class="contactos__link">
        <a class="contacto__link" href="http://">
            <img class="contacto__icono" src="../../../assets/linkedin.svg" alt="Linquedin">
        </a>
    </li>
    <li class="contactos__link">
        <a class="contacto__link" href="http://">
            <img class="contacto__icono" src="../../../assets/github.png" alt="GitHub">
        </a>
    </li>
    <li class="contactos__link">
        <a class="contacto__link" href="http://">
            <img class="contacto__icono" src="../../../assets/whatsapp-icon.svg" alt="WhatsApp">
        </a>
    </li>
</ul>