<div>
    <a href="">
        <img class="socialLogo" src="../../../assets/img/github.png" alt="github">
    </a>
    <a href="">
        <img class="socialLogo" src="../../../assets/img/facebook.png" alt="facebook">
    </a>
    <a href="">
        <img class="socialLogo" src="../../../assets/img/twitter.png" alt="twitter">
    </a>
    <a href="">
        <img class="socialLogo" src="../../../assets/img/instagram.png" alt="instagram">
    </a>
    <a href="">
        <img class="socialLogo" src="../../../assets/img/linkedin.png" alt="linkedin">
    </a>
</div>

