<section>
    <h1>Experiencia</h1>
    <article>
        <picture>
            <img src="" alt="">
        </picture>
        <ul>
            <li>
                <h3>Backend Developer</h3>
            </li>
            <li>
                <h4>PIXAR - Jonada Parcial</h4>

            </li>
            <li>
                <p>mar 2019 - actualidad - 2 años y 6 meses</p>

            </li>
            <li>
                <p>Guadalajara y Alrededores, Mexico</p>

            </li>
        </ul>
    </article>
</section>