<section class="profile box">
    <section>
        <!-- <picture *ngIf="potho.length > 0">
            <img src="" alt="Jorge Almendras">
        </picture>
        <picture *ngIf="potho.length === 0">
            <img src="../../../assets/img/logo-profil.png" alt="Foto de Perfil" class="profile__image">
        </picture> -->
        <h2 class="profile__name"> {{ llamarName() }} {{ llamarLastName() }} </h2>
    </section>

    <section class="profile__details">
        <!-- <p class="profile__info">{{abautMe}}
        </p> -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos delectus id, officiis molestiae rem, quod illum facere assumenda dolorum porro esse! Nesciunt et assumenda deleniti molestiae beatae. Temporibus, aperiam aspernatur.</p>
    </section>
</section>