<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>
  <app-header></app-header>
</header>

<main>
   <section>
      <app-banner></app-banner>
   </section>
   <section>
      <app-acerca-de></app-acerca-de>
   </section>
   <section>
      <app-experiencia></app-experiencia>
      <app-education></app-education>
   </section>
   <section>
      <app-atributes></app-atributes>
   </section>
   <section>
      <app-proyects></app-proyects>
   </section>

</main>

<footer>

</footer>
