<section>
    <h1 class="sub-title">EDUCACIÓN</h1>
    <section class="box">
        <!-- <article class="education__item" *ngFor="let estudie of education">
            <picture class="education__image" *ngIf="estudie.logoInstitution.length > 0">
                <img src="" alt="Un Certificado o Logo de institucion">
            </picture>
            <h2 class="education__description">{{estudie.estudio}}</h2>
            <p class="education__institution">{{estudie.institution}}</p>
        </article> -->

        <article>
            <h3>una educacion</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit distinctio illo a aperiam eligendi pariatur facere dolor quis sed alias, harum architecto repellendus delectus deserunt quam, ratione numquam id amet.</p>
        </article>
        <article>
            <h3>educacion</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio in, quis voluptates earum cupiditate suscipit saepe facilis nemo officia rem incidunt, placeat architecto? Repellat atque, nostrum doloribus accusantium tempora repudiandae?</p>
        </article>
        <article>
            <h3>educacion</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dicta, omnis laborum ipsam nemo et voluptate harum natus quo distinctio. Quidem non libero alias nisi dolore maxime? Ea, et consequuntur.</p>
        </article>
        <article>
            <h3>educacion</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dicta, omnis laborum ipsam nemo et voluptate harum natus quo distinctio. Quidem non libero alias nisi dolore maxime? Ea, et consequuntur.</p>
        </article>
    </section>
</section>
