<div>
    <ul>
        <li>
            <a href="">
                <img class="contacto" src="../../../../assets/img/github.png" alt="github">
            </a>
        </li>
        <li>
            <a href="">
                <img class="contacto" src="../../../../assets/img/facebook.png" alt="facebook">
            </a>
        </li>
        <li>
            <a href="">
                <img class="contacto" src="../../../../assets/img/twitter.png" alt="twitter">
            </a>
        </li>
        <li>
            <a href="">
                <img class="contacto" src="../../../../assets/img/linkedin.png" alt="linkedin">
            </a>
        </li>
        <li>
            <a href="">
                <img class="contacto" src="../../../../assets/img/instagram.png" alt="instagram">
            </a>
        </li>
    </ul>
</div>

