<section>
    <h2 class="sub-title">EXPERIENCIA</h2>
    <!-- <section class="experiencie__section" *ngIf="experiencie.length">
        <article class="experiencie__article" *ngFor="let exp of experiencie">
            <h3 class="experiencie__article-title">Hola</h3>
        </article>
    </section>
    <section class="experiencie__section" *ngIf="!experiencie.length">
        <h3 class="experiencie__no-experience">Sin Experiencia Por El Momento</h3>
    </section> -->
    <section class="box">

    </section>
</section>

