<Section>
    <h1>Proyectos</h1>
    <article>
        <h2>e-Farmacia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum voluptatum velit, quis necessitatibus eveniet in impedit, neque, totam quibusdam minus labore doloribus facilis aspernatur consequatur. Recusandae quis odit tempore fugiat?</p>
    </article>
    <article>
        <h2>Sistema de Monitoreo</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere fugiat quisquam quibusdam assumenda nesciunt officiis eaque numquam, cupiditate voluptate sed corrupti sint consequatur pariatur ratione harum mollitia? Voluptas, veritatis iste.</p>
    </article>
</Section>
